.title {
    color: rgb(201, 27, 27);
    display: block;
    margin: 0 0 1px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    border: dotted rgb(14, 14, 14);
    background-color: #333;
    /*
    animation-name: helloWorldAnimation;
    animation-duration: 5s;
    animation-iteration-count:  infinite;*/
}
/*
@keyframes helloWorldAnimation {
    0% {color: rgb(201,27,27);font-size: large;}
    25% {color:aliceblue;font-size: larger;}
    50% {color:deeppink;font-size:x-large ;}
    75% {color: yellow;font-size: larger;}
    100% {color: rgb(201, 27, 27);font-size: large;}
}
*/
.label {
    color: rgb(0, 0, 0);
    margin: 5px 0px 5px 0px;
    text-align: center;
    font-size: large;
}
.Input{
    border-radius: 25px;
    border: 1px solid #050505;
    margin-bottom: 5px;
}

#b1{
    background-color:paleturquoise;
    border:2px solid black;
    border-radius:20px;
    margin-top:20px;
}
#b1:hover{
    background-color: palevioletred;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover{
    background-color: #111;
}

#currentEntries {
    text-align: center;
    border: rgb(10, 10, 10);
    border-style: solid;
}

div {
    /*background-image:url(rainbow.jpg);
    background-size:cover;
    background-repeat: no-repeat;*/
    border: 2px solid black;
    margin-bottom: 10px;
    align-items: center;
}
.editblog {
    font-size: large;
    border: 2px solid black;
    height: 40px;
    width: 400px;
    text-align: center;
}
.blog {
    text-align: center;
    font-style: italic;
    align-items: center;
    font-size: large;
    font-weight: bold;
    display: block;
    margin:   auto;
}

#post{
    margin-bottom: 5px;
}
.buttonholder {
    align-items: center;
}
button:hover {
    background-color: rgb(236, 221, 11);
}
body{
    background-image:url(norm.jpg);
    background-size:cover;
}

